<!DOCTYPE html>
<html ng-app="imApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>聊天</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>
  <link rel="stylesheet" type="text/css" href="css/scrollbar.css"/>

  <script type="text/javascript" src="js/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="js/index.js"></script>

  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/jquery.tinyscrollbar.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/spark-md5.js"></script>
  <!--<script type="text/javascript" charset="utf-8" src="js/b5m.js"></script>-->

  <script type="text/javascript" charset="utf-8" src="uedit/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="uedit/ueditor.all.js"></script>
  <script type="text/javascript" charset="utf-8" src="uedit/lang/zh-cn/zh-cn.js"></script>

  <script type="text/javascript" charset="utf-8" src="js/sockjs.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/vertx-eventbus.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/imServiec.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/angular-index.js"></script>
  <script type="text/javascript">
    //    $(document).ready(function () {
    //      $.each($('.scrollbar-area'), function (e) {
    //        $(e).tinyscrollbar();
    //      })
    //    });
  </script>

</head>
<body ng-controller="bodyController">
<div ng-controller="loginController" class="login" ng-show="!isLogin">
  <img src="img/login-head.png" class="head img-circle">

  <div class="form-group">
    <input ng-model="username" type="email" class="form-control" id="username" placeholder="邮箱/手机号">
  </div>
  <div class="form-group">
    <input ng-model="password" type="password" class="form-control" id="password" placeholder="密码">
  </div>
  <a id="login-btn" class="btn btn-primary  btn-block" ng-click="login()">登录</a>
  <a class="register">注册</a>
</div>


<div class="img-view" onclick="closeImgView()">
  <a onclick="closeImgView()" class="glyphicon glyphicon-search"
     target="_blank" data-toggle="tooltip" data-placement="top" title="查看原图"></a>
  <img src="img/head.png">
</div>


<div ng-controller="chatController" class="main" ng-show="isLogin">
  <!--导航-->
  <div class="left">
    <ul ng-controller="navController">
      <li class="view-user-info" ng-click="viewUserInfo(user)"><img ng-if="user" ng-src="/file/view/{{user.head}}"></li>
      <li ng-click="switchNav(1)"><span ng-class="{true:' active',false:'unactive'}[currentNav == 1]"
                                        class="glyphicon glyphicon-envelope"></span></li>
      <li ng-click="switchNav(2)"><span ng-class="{true:' active',false:'unactive'}[currentNav == 2]"
                                        class="glyphicon glyphicon-user "></span></li>
      <li ng-click="switchNav(3)"><span ng-class="{true:' active',false:'unactive'}[currentNav == 3]"
                                        class="glyphicon glyphicon-cloud unactive"></span></li>
    </ul>
    <span class="setting"><span class="glyphicon glyphicon-wrench unactive"></span></span>
  </div>
  <!--列表-->
  <span ng-show="currentNav == 1">


  <div class="chat-list">
    <div class="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="搜索">
      </div>
    </div>
    <ul>
      <li ng-click="continueChat(history)" ng-repeat="history in historys"
          ng-class="{true:'selected',false:'no-selected'}[history.user?history.user.id==currentChat.id:history.chatGroup.id==currentChat.id]">
        <div class="item-1">
          <span class="unReadCount" ng-show="history.unReadCount">{{history.unReadCount > 99 ?'99+':history.unReadCount}}</span>
          <img ng-src="/file/view/{{history.user?history.user.head:history.chatGroup.head}}">
        </div>
        <div class="item-2">
          <div class="chat-name" ng-if="history.user">{{history.user.nickname}}</div>
          <div class="chat-name" ng-if="history.chatGroup">{{history.chatGroup.chatGroupName}}</div>
          <div class="content">{{
            history | fromatShortContent: loginUser
            }}
          </div>
        </div>
        <div class="item-3">
          <span ng-click="del(history, true)" class="close glyphicon glyphicon-remove"></span>
          <span class="date">{{history.message.createTime | date:'HH:mm'}}</span>
        </div>

      </li>
    </ul>
  </div>
    <!--主-->
  <div class="right">
    <div class="title">
      <div class="win-oper">
        <span class="glyphicon glyphicon-minus min"></span>
        <span class="glyphicon glyphicon-remove exit"></span>
      </div>
      <!--<div class="toolbar">-->
      <!--<span class="glyphicon glyphicon-plane"></span>-->
      <!--<span class="glyphicon glyphicon-calendar"></span>-->
      <!--<span class="glyphicon glyphicon-random"></span>-->
      <!--</div>-->
      <div class="title-name" ng-show="currentChat">
        <span class="text"><!--麻将群(32人)-->{{title}}</span>
        <span class="oper glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="chat-main" ng-show="currentChat">
      <div class="message-view scrollbar-area">

        <div id="{{message.id}}"
             ng-class="{true: 'left-message message', false: 'right-message message'}[isLeft(message)]"
             ng-repeat="message in messages">
          <img class="message-head" class="view-user-info" ng-click="viewUserInfo(message.from)"
               ng-src="/file/view/{{message.from.head}}">

          <div class="content-message" data-ng-bind-html="message.content | fromatAsHtml">
            <!--{{message.content}}-->
          </div>
        </div>
      </div>
      <!--<a class="unReadMessageHint">-->
      <!--<img src="img/head.png">-->
      <!--大表哥<422450455@qq.com> : 你好!</a>-->
      <div class="split"></div>
      <div class="chat-input">
        <script id="editor" type="text/plain" style="width:100%"></script>
      </div>
      <div class="operation">
        <a id="send" class="btn btn-default btn-sm send" ng-click="send()">发送</a>
      </div>
    </div>

  </div>
  </span>

   <span ng-show="currentNav == 2" ng-controller="contactlistController">
     <div class="contact-list">
       <div class="search">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="搜索">
         </div>
       </div>
       <div class="contact-list-bottom">
         <div class="mark">群聊</div>
         <ul>
           <li ng-class="{true:'selected',false:'no-selected'}[currentContact == chatGroup]"
               ng-click="viewChatGroupInfo(chatGroup)" ng-repeat="chatGroup in chatGroups">
             <div class="contact-item">
               <img ng-src="/file/view/{{chatGroup.head}}">
               <span class="contact-name">{{chatGroup.chatGroupName}}</span>
             </div>
           </li>
         </ul>

         <ul>
           <li ng-repeat="chat in chats">
             <div class="mark">{{chat.mark}}</div>
             <div ng-repeat="chatItem in chat.chats"
                  ng-class="{true:'selected',false:'no-selected'}[currentContact == chatItem]"
                  ng-click="viewChatInfo(chatItem)" class="contact-item">
               <img ng-src="/file/view/{{chatItem.head}}">
               <span class="contact-name">{{chatItem.nickname}}</span>
             </div>
           </li>
         </ul>
       </div>
     </div>
     <!--主-->
  <div class="right">
    <div class="title">
      <div class="win-oper">
        <span ng-click="min()" class="glyphicon glyphicon-minus min"></span>
        <span ng-click="exit()" class="glyphicon glyphicon-remove exit"></span>
      </div>
      <div class="title-name">
        <span class="text">{{contactTitle}}</span>
      </div>
    </div>


    <div ng-show="viewInfo == 1" class="chatInfo">
      <img ng-if="chatInfo.head" ng-src="/file/view/{{chatInfo.head}}">
      <ul>
        <li>
          <div class="chat-name">{{chatInfo.nickname}}</div>
        </li>
        <li>
          <div>{{chatInfo.remarks}}</div>
        </li>
        <li>
          <div>
            <span class="key">邮箱</span>
            <span class="value">{{chatInfo.email}}</span>
          </div>
        </li>
      </ul>

      <a ng-click="enterChat(chatInfo)" class="btn btn-success start-chat">发消息</a>
    </div>


    <div ng-show="viewInfo == 2" class="chatGroupInfo">
      <ul>
        <li ng-repeat="member in chatGroup.members">
          <img ng-src="/file/view/{{member.head}}">

          <div>{{member.nickname}}</div>
        </li>
      </ul>
      <a ng-click="enterGroupChat(chatGroup)" class="btn btn-success start-chat">进入聊天</a>
    </div>
  </div>





















   </span>
   <span ng-show="currentNav == 3">
    云盘
   </span>
</div>
</body>
</html>